html,
body {
  overflow-x: hidden;
}
html {
  font-family: "Fellix", sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
.footer-background {
  background: linear-gradient(0deg, #215042 0%, #718f86 100%);
}
.gradient {
  background: #f37a21;
}
.gradient-text-color {
  background: -webkit-linear-gradient(#215042, #f37a21);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hover-gradient:hover {
  background: linear-gradient(0deg, #215042 0%, #718f86 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(0deg, #215042 0%, #718f86 100%);
  color: white !important;
}

p {
  font-size: 16px !important;
  font-weight: 400;

}
.heading-text {
  font-size: 26px;
}
@media (max-width: 639px) {
  .heading-text {
    font-size: 26px !important;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .heading-text {
    font-size: 22px !important;
  }
}
.active {
  color: #5a0a0a !important;
}
/* MENU PANEL DROPDOWN */
@keyframes menuDrop {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-menuDrop {
  animation: menuDrop 0.35s ease-out forwards;
}
.bg-image {
  background-image: url("./assets/backgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.font-weight-custom {
  font-weight: 500;
}
h3,
h4 {
  font-size: 30px;
}
.text-size-28 {
  font-size: 28px !important;
}
.font-size-cus {
  font-size: 26px !important;
}
h2{
    line-height: 40px !important;
}
.custom-font-size{
  font-size: 24px !important;
}