@import "tailwindcss";
@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
html {
  font-family: "Fellix", sans-serif;
}
h2 {
  font-size: 40px;
  font-weight: 400;
}
.gradient {
  background: linear-gradient(90deg, #d11b23 0%, #820a10 100%);
}
.gradient-text-color {
  color: linear-gradient(90deg, #d11b23 0%, #820a10 100%);
}
p {
  font-size: 16px !important;
  font-weight: 400;
}
.heading-text {
  font-size: 50px;
}
@media (max-width: 639px) {
  .heading-text {
    font-size: 32px !important;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .heading-text {
    font-size: 32px !important;
  }
}
