@import "tailwindcss";

@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
